#columns {
    width: 100%;
    /* max-width: 840px;
    max-height: 1060px; */
    margin: 0 auto;
    text-align: left;
}

#skips{
    width: 55%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

#skips ul {
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
    overflow: hidden;
}

#skips li {
    display: inline-block;
    padding: 5px 10px;
}

#skips li a {
    color: #ffffff;
    text-decoration: none;
}

#skips li a:hover {
    text-decoration: underline;
}

#games, #consoles {
    width: 35%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #000000;
}

.game, .console{
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    height: fit-content;
}

.gameimage, .consoleimage {
    float: left;
    width: 30%;
    margin: 10px;
    max-width: 400px;
    margin-left: 10%;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
}

.gameimage img, .consoleimage img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}

.gamedescription, .consoledescription {
    margin-top: 10px;
    float: left;
    width: 45%;
    text-align: left;
    max-height: 400px;
    padding: 10px;
    color: #000000;
    background-color: #ffffff;
}


.game::after, .consoles:after {
    content: "";
    display: table;
    clear: both;
}
