#columns {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#left, #center, #right {
    padding: 5px;
    text-align: center;
    background-color: #b1b1b1;
    color: #000000;
    margin-bottom: 10px;
    height: 655px;
    float: left;
    margin-right: 1%;
}

#left {
    margin-left: 10%;
    width: 20%;
    min-width: 180px;
}

#center {
    width: 35%;
    min-width: 250px;
}

#right {
    width: 20%;
    min-width: 180px;
}

#columns:after {
    content: "";
    display: table;
    clear: both;
}

#changelog, #welcome, #status, #socials {
    margin: 8px;
    margin-bottom: 25px;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

#status, #changelog {
    padding: 15px;
}

#links {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: center;
}

#links ul {
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
    overflow: hidden;
}

#links li {
    padding: 5px 10px;
}

#links li a {
    color: #000000;
    text-decoration: none;
}

#links li a:hover {
    color: steelblue;
    text-decoration: underline;
}

#moon {
    text-align: center;
    margin: 0 auto;
    max-width: 128px;
    border: 10px solid #ffffff;
    margin-bottom: 10px;
}

#moon img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
