@font-face {
    font-family: 'Pixel Operator';
    src: url("/pixel_operator/PixelOperator.ttf");
}

@font-face {
    font-family: 'Pixel Operator';
    src: url("/pixel_operator/PixelOperator-Bold.ttf");
    font-weight: bold;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.125;
    }
    100% {
        opacity: 1;
    }
}

.blinking {
    margin: 5px;
    color: #ffffff;
    animation: blink 1.5s infinite;
}

body {
    font-family: 'Pixel Operator', sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}

#container {
    margin: 0 auto;
}

#header {
    width: 75%;
    margin: auto;
    text-align: center;
    border: solid;
    border-color: #ffffff;
}

#navbar {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: center;
}

#navbar ul {
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    display: inline-block;
    padding: 5px 10px;
}

#navbar li a {
    color: #000000;
    text-decoration: none;
}

#navbar li a:hover {
    color: steelblue;
    text-decoration: underline;
}

#footer {
    width: 75%;
    padding: 5px;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    border: solid;
    border-color: #ffffff;
    height: fit-content;
}

#columns:after {
    content: "";
    display: table;
    clear: both;
}
