@font-face {
    font-family: 'Pixel Operator';
    src: url("/pixel_operator/PixelOperator.ttf");
}

@font-face {
    font-family: 'Pixel Operator';
    src: url("/pixel_operator/PixelOperator-Bold.ttf");
    font-weight: bold;
}

@keyframes blink{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.125;
    }
    100% {
        opacity: 1;
    }
}

.blinking{
    margin: 5px;
    color: #ffffff;
    animation: blink 1.5s infinite;
}

body{
    font-family: 'Pixel Operator', sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    margin:auto;
}

#container{
    margin: 0 auto;
}

#header{
width: 75%;
margin: auto;
text-align: center;
border: solid;
border-color: #ffffff;
}

#navbar{
    width:75%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.links{
}

#navbar .links ul{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 10px;
}

.links ul{
    margin: auto;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
}

.links li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.links li a {
    color: #000000;
    text-decoration: none;
}

.links li a:hover {
    color: steelblue;
    text-decoration: underline;
}

.lists{
}

.lists ul{

}

.lists li{

}

#footer{
    width: 75%;
    padding: 5px;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    border: solid;
    border-color: #ffffff;
}

#columns:after {
    content: "";
    display: table;
    clear: both;
}