@font-face {
    font-family: 'Pixel Operator';
    src: url("/pixel_operator/PixelOperator.ttf");
}

@font-face {
    font-family: 'Pixel Operator';
    src: url("/pixel_operator/PixelOperator-Bold.ttf");
    font-weight: bold;
}

@keyframes blink{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.125;
    }
    100% {
        opacity: 1;
    }
}

#blinking{
    text-align: center;
            margin:5px;
            color: rgb(0, 0, 0);
            animation: blink 1.5s infinite;
}

body{
    font-family: 'Pixel Operator', sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    margin:auto;
}

#container{
    margin: 0 auto;
}

#header{
width: 70%;
margin: auto;
text-align: center;
border: solid;
border-color: #ffffff;
}

#navbar{
    width:75%;
    margin: auto;
    background-color: #ffffff;
}

.links{
}

#navbar .links ul{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 10px;
}

.links ul{
    margin: auto;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
}

.links li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.links li a {
    color: #000000;
    text-decoration: none;
}

.links li a:hover {
    color: steelblue;
    text-decoration: underline;
}

#flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
}

#left {
    padding: 5px;
    text-align: center;
    width: 20%;
    background-color: #b1b1b1;
    color: #000000;
    margin: auto;
    margin-top: 10px;
    margin-right: 0px;
    box-sizing: border-box;  
    height: 350px;
}

#center{
    padding: 5px;
    text-align: center;
    width: 35%;
    background-color: #b1b1b1;
    color: #000000;
    margin:10px;
    margin-top: 10px;
    box-sizing: border-box; 
    height: 350px;
}

#right{
    padding: 5px;
    text-align: center;
    width: 20%;
    background-color: #b1b1b1;
    color: #000000;
    margin: auto;
    margin-left: 0px;
    margin-top: 10px;
    box-sizing: border-box; 
    height: 350px;
}

#changelog{
    margin: 5px;
    margin-bottom: 25px;
    background: #ffffff;
    color: #000000;
    padding: 5px;
}

#welcome{
    margin:5px;
    margin-bottom: 25px;
    background: #ffffff;
    padding:5px;
}

#status{
    margin: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 15px;
    color: #000000;
}

#socials{
    margin: 5px;
    margin-bottom: 25px;
    background-color: #ffffff; 
    color:#000000;
    padding: 5px;
}
