#columns {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.album {
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    height: fit-content;
}

.albumcover {
    float: left;
    width: 30%;
    margin: 10px;
    max-width: 400px;
    margin-left: 10%;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
}

.albumcover img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}

.albumdescription {
    margin-top: 10px;
    float: left;
    width: 45%;
    max-width: 400px;
    padding: 10px;
    color: #000000;
    background-color: #ffffff;
}

.album:after {
    content: "";
}

input[type="checkbox"] {
    display: none;
}

.musicplayer {
    float: left;
    max-width: 400px;;
    margin: 10 0 10 0;
    width: 45%;
    text-align: center;
    padding: 0 10 0;
    background-color: #ffffff;
    color: #000000;
}

.musicplayer h2{
    padding: 0;
    font-size: 20;
}

.playpausebutton {
    margin: 0 0 10;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.playpausebutton:before {
    position: relative;
    top: 1px;
    content: '▶';
}

input[type="checkbox"]:checked + .playpausebutton:before {
    content: '❚❚';
}

.playpausebutton:hover {
    transform: scale(1.1);
}
